body {
    font-family: 'work sans';
}

header {
    padding-right: 5%;
    padding-left: 5%;
    justify-content: space-between;
    display: flex;
    align-items: center;
    background-color: #ffffff;
}

header img {
    width: 150px;
}

.list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 40px;
  }
  .link {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-size: 20px;
  }

  .link::before,
  .link::after {
      content: '';
      position: absolute;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: #111827;
      transform: scaleX(0);
      transition: transform 0.25s;
  }

  .link::before {
    top: -3px;
    transform-origin: left;
}

.link::after {
    bottom: -3px;
    transform-origin: right;
}

.link:hover::before,
.link:hover::after,
.active::before,
.active::after {
    transform: scaleX(1);
}

h1 {
    color: #fff;
    font-size: 5rem;
    font-weight: 100;
    margin-top: 30px;
    margin-bottom: 30px;
}

.primer-bloque{
    background-color:#111827;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
}

.principal{
    align-items: center;
    justify-content: center;
    padding-left: 10%;
    padding-right: 10%;
}


.principal p {
    color: #fff;
    font-size: 1.2em;
    align-items: center;
    line-height: 1.5em;

}

.principal img{
    width: 1000px ;
    padding-bottom: 20px;
}

.gen{
    margin-right: 15px;
}

.personaje{
    color: white;
    display: flex;
    padding-top: 30px;
    padding-bottom: 15px;
}

.actor{
    padding-right: 25px;
    font-size: 1.2em;
}

.interprete{
<<<<<<< Updated upstream
=======
    color: white;
    text-decoration: underline;
>>>>>>> Stashed changes
    display: flex;
    align-items: center;
    font-size: 1.2em;
}

<<<<<<< Updated upstream
 /*Galeria*/


:root {
    --background: #3C343D;
    --background-border: #6B626C;
}

.galeria {
    font-family: Poppins;
    height: 100vh;
    padding: 32px;
    display: grid;
    place-items: center;
    background-color: var(--background);
}

.gallery {
    display: flex;
    background-color: var(--background);
    gap: 16px;
}

.card {
    display: flex;
    justify-content: center;
    position: relative;
    left: 0px;
    width: 400px;
    height: 300px;
    background-color: var(--background);
    border-radius: 8px;
    transition: 1000ms all;
    transform-origin: center left;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.5);
    outline: 1px solid var(--background);
    overflow: hidden;
}

.card img {
    height: 300px;
    object-fit:cover;
    border-radius: 4px;
}

.card:hover {
    cursor: pointer;
    transform: scale(1.15);
}

.card:hover figcaption {
    font-size: 0.9rem;
    position: absolute;
    height: 80px;
    width: 160px;
    display: flex;
    align-items: end;
    background: linear-gradient(
        to top, 
        rgba(0, 0, 0, 0.9) 0%,
        rgba(0, 0, 0, 0) 100%
    );
    color: white;
    left: 0px;
    bottom: 0px;
    padding-left: 12px;
    padding-bottom: 10px;
}

.card:hover ~ .card {
    font-weight: bold;
    cursor: pointer;
    transform: translateX(50px);
}
=======


.footer{
    background:#000;
    padding:30px 0px;
    font-family: 'Play', sans-serif;
    text-align:center;
    }
    
    .footer .row{
    width:100%;
    margin:1% 0%;
    padding:0.6% 0%;
    color:gray;
    font-size:0.8em;
    }
    
    .footer .row a{
    text-decoration:none;
    color:gray;
    transition:0.5s;
    }
    
    .footer .row a:hover{
    color:#fff;
    }
    
    .footer .row ul{
    width:100%;
    }
    
    .footer .row ul li{
    display:inline-block;
    margin:0px 30px;
    }
    
    .footer .row a i{
    font-size:2em;
    margin:0% 1%;
    }
    
    @media (max-width:720px){
    .footer{
    text-align:left;
    padding:5%;
    }
    .footer .row ul li{
    display:block;
    margin:10px 0px;
    text-align:left;
    }
    .footer .row a i{
    margin:0% 3%;
    }
    }
>>>>>>> Stashed changes

